html{
    scroll-behavior: smooth;
}

nav.navbar{
    background-color: #14213d;
}

nav.navbar .navbar-brand{
    font-size: 1.5rem;
    color: whitesmoke;
}

nav.navbar .navbar-brand:hover{
    color: white;
}

.navbar-nav .nav-item {
    margin: 0 15px !important;
    font-size: 1.2rem;
    color: whitesmoke !important;
    transition: all 0.1s ease-in-out;
}

.navbar-nav .nav-item:hover{
    cursor: pointer;
}

.landing{
    background-image: url(./images/landing-img-final.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing .lander-content{
    height: 60%;
    padding: 10% 5%;
}

.landing .tagline{
    font-size: 3.3rem;
    background-color: rgba(248, 248, 248, 0.50);
    color: #14213d;
    font-variant: small-caps;
    font-weight: 750;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px;
}

.landing .caption{
    margin-top: 20px;
    font-size: 1.5rem;
    color: #14213d;
    background-color: rgba(248, 248, 248, 0.50);
    border-radius: 20px;
    padding: 15px;
    font-weight: 650;
}

.landing .product-btn{
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
}

/* .products-wrapper .products-names .product-box{
    height: 300px;
    width: 300px;
    color: whitesmoke;
}

.pdt-odd{
    background-color: #2b3750;
}

.pdt-even{
    background-color: #14213d;
}

.pdt-heading{
    background-color: gray;
    align-items: center;
    text-transform: uppercase;
}

.products-wrapper .products-names .pdt-number{
    font-size: 3rem;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.products-wrapper .products-names .pdt-name{
    font-size: 2rem;
    text-align: center;
} */

.products-wrapper-1 .products-names .product-box{
    height: 250px;
    width: 250px;
    color: whitesmoke;
    cursor: pointer;
}

.products-wrapper-1 .products-names .product-box a:hover{
    transform: scale(1.05);
    z-index: 1000;
    border-radius: 20px;
    transition: all 0.8s ease-in-out;
}

.products-wrapper-1 .products-names .product-box a:hover{
    color: white;
    text-decoration: none;
}

.pdt-odd{
    background-color: #2b3750;
}

.pdt-even{
    background-color: #14213d;
}

.pdt-heading{
    background-color: #555F73;
    align-items: center;
    text-transform: uppercase;
}

.products-wrapper-1 .pdt-heading div.pdt-number{
    font-size: 3.5rem;
}

.products-wrapper-1 .products-names .pdt-number{
    font-size: 3rem;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.products-wrapper-1 .products-names .pdt-name{
    font-size: 1.5rem !important;
    text-align: center !important;
    color: white !important;

}

.pdt-info-wrapper .pdt-info-heading-main{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pdt-info-wrapper .pdts-info-container > div > div {
    margin: 5px 0px;
}

.pdt-info-wrapper .pdts-info-container .pdt-title{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 650;
}

.pdt-info-wrapper .pdts-info-container .pdt-info .summary-name{
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
}

.pdt-info-wrapper .pdts-info-container .pdt-info .summary-content{
    font-size: 1.1rem;
}

.pdt-info-wrapper .pdts-info-container .pdt-appli .appli-name, .sizeLim-name{
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
}

.pdt-info-wrapper .pdts-info-container .pdt-appli .appli-content, .sizeLim-content{
    font-size: 1.1rem;
}

.pdt-info-wrapper .pdts-info-container .pdt-img img{
    height: 240px;
    width: auto;
}

/* .pdt-info-wrapper .pdts-info-container .pdt-graph img{
    width: 400px;
    height: 400px;
} */

.pdt-data table *{
    text-align: center;
}


.performance-wrapper{
    background-color: #555F73;
    color: white;
}

.performance-wrapper .number{
    font-size: 3.5rem;
}

.performance-wrapper .text{
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.about-wrapper .about-heading{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.about-wrapper .about-content{
    font-size: 1.1rem;
}

.about-wrapper .about-img img{
    height: 200px;
    width: auto;
}

.quality-wrapper .quality-heading{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.quality-wrapper .quality-content{
    font-size: 1.1rem;
}

.quality-wrapper .quality-img img{
    height: 200px;
    width: auto;
}

.pdts-info-container .hide{
    display: none;
}

footer{
    background-color: #14213d;
}